
<div flex="20" ng-include="'components/sidebar/sidebar.html'">

</div>

<div flex layout="horizontal" layout-align="center">
  <md-content class="md-whiteframe-z2 canvas" flex="60">

    <span class="widget">Magic Happens here</span>

  </md-content>
</div>