<section layout="column" flex>
  <div layout="row" flex ng-controller="styleSelectorCtrl">

    <div flex-gt-md="25"></div>
    <div flex class="wrap">
      <div flex layout="row" layout-align="center">
        <div class="document-panel">
          <md-content class="md-whiteframe-z2 document">
            <img src="" class="document-background">
              <img src="assets/images/Impact/Impact No Colour.png" class="document-style" alt="document"/>
            </img>
          </md-content>
        </div>
      </div>
      <br />
      <section layout="row" layout-phone="column" layout-align="center center" class="button-group">
        <md-button class="md-raised" aria-label ng-click="setSelector(0)">Style</md-button>
        <md-button class="md-raised" aria-label ng-click="setSelector(1)">Color</md-button>
        <md-button class="md-raised" aria-label ng-click="setSelector(2)">Background</md-button>
      </section>
      <br />
      <div ng-switch="selector.active.selection" class="frame">
        <div class="effects animate-switch" ng-switch-when="0">
          <ul>
            <li ng-repeat="style in selector.styles" style-selector>
              <img ng-src="assets/images/{{style}} Card.png" height="250px" alt="style"></img>
            </li>
          </ul>
        </div>
        <div class="effects animate-switch" ng-switch-when="1" >
          <ul>
            <li ng-repeat="color in selector.colors" style-selector>
              <img ng-src="assets/images/Colour Select/TS_col_card_{{color}}.png" height="250px" alt="color"></img>
            </li>
          </ul>
        </div>
        <div class="effects animate-switch" ng-switch-when="2">
          <ul>
            <li ng-repeat="background in selector.backgrounds" style-selector>
              <img ng-src="assets/images/Background Select/BG Cards/{{background}} Card.png" height="250px" alt="background"></img>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div flex-gt-md="25"></div>
  </div>
</section>