.document-panel {
  margin-top: 20px;
  min-width: 242px;
  min-height: 330px;
  perspective: 1000px;
}

.document {
  max-width: 242px;
  max-height: 330px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.document-background {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 242px;
  max-height: 330px;
  z-index: 0;
  margin: -5px 0 -15px;
}

.document-style {
  max-width: 242px;
  max-height: 330px;
  z-index: 1;
  perspective: 200px;
  margin: -5px 0 -15px;
}

md-button {
  width: 10em;
  display: block;
  line-height: 25px;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.86);
  .md-button-inner {
    color: white;
    border-color: white;
    border-width: 5px;
  }
}
md-button.focus {
  background-color: white;
  .md-button-inner {
    color: black;
  }
}
.wrap {
  background-color: red;
  background-image: linear-gradient(#ececec, #40434d);
}

.frame {
  height: 200px;
  max-height: 200px;
  line-height: 200px;
  overflow: hidden;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    li {
      float: left;
      width: 150px;
      height: 100%;
      margin: 0 1px 0 0;
      padding: 0;
      text-align: center;
      cursor: pointer;
    }
  }
}

.effects {
  height: 200px;
  line-height: 200px;
  perspective: 200px;
  perspective-origin: 50% 50%;
  overflow-y: hidden;
  ul {
    transform-style: preserve-3d;
    position: absolute;
    li {
      position: relative;
      margin: 0 -5px;
      transform: translateY(20px) scale(0.9);
      transition: transform 300ms ease-out;
      // + li {
      //   transform: rotate(-5deg) translateY(20px) scale(0.9);
      // }
    }
    li.active {
      z-index: 10;
      transform: scale(1);
      ~ li {
        position: relative;
        transform: translateY(20px) scale(0.9);
        z-index: 10;
      }
    }
  }
}

.animate-switch.ng-animate {
  // transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;

  position: relative;
  // z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave,.animate-switch.ng-leave.ng-leave-active{
  position: absolute;
  animation: moveToBottom .2s ease-out both;
}

.animate-switch.ng-enter,
.animate-switch.ng-enter.ng-enter-active  {
  position: absolute;
  animation: moveFromBottom .4s ease .2s both;
  ul li.active {
    transform: translateY(20px) scale(0.95);
  }
}

.flip-out-right {
  transform-origin: 50% 50%;
  animation: flipOutRight .2s both ease-out;
}

.flip-in-right {
  transform-origin: 50% 50%;
  animation: flipInRight .2s both ease-out;
}

.flip-in-left {
  transform-origin: 50% 50%;
  animation: flipInLeft .2s both ease-out;
}

.flip-out-left {
  transform-origin: 50% 50%;
  animation: flipOutLeft .2s both ease-out;
}

@-webkit-keyframes moveToBottom {
  from {

  }
  to {
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveToBottom {
  from {

  }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
}
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}


@-webkit-keyframes flipOutRight {
  from { }
  to {
    -webkit-transform: rotateY(90deg) scale(1);
    -webkit-filter: grayscale(100%);
    opacity: 0.2;
  }
}
@keyframes flipOutRight {
  from { }
  to {
    -webkit-transform: rotateY(90deg) scale(1);
    transform: rotateY(90deg) scale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
  }
}

@-webkit-keyframes flipInLeft {
  from {
    -webkit-transform: rotateY(-90deg) scale(0.9);
    -webkit-filter: grayscale(100%);
    opacity: 0.2; }
}
@keyframes flipInLeft {
  from {
    -webkit-transform: rotateY(-90deg) scale(0.9);
    transform: rotateY(-90deg) scale(0.9);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
  }
}

@-webkit-keyframes flipOutLeft {
  from { }
  to {
    -webkit-transform: rotateY(-90deg) scale(1);

    -webkit-filter: grayscale(100%);
    opacity: 0.2;
  }
}
@keyframes flipOutLeft {
  from { }
  to {
    -webkit-transform: rotateY(-90deg) scale(1);
    transform: rotateY(-90deg) scale(1);

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
  }
}

@-webkit-keyframes flipInRight {
  from {
    -webkit-transform: rotateY(90deg) scale(0.9);
    -webkit-filter: grayscale(100%);
    opacity: 0.2;
  }
}
@keyframes flipInRight {
  from {
    -webkit-transform: rotateY(90deg) scale(0.9);
    transform: rotateY(90deg) scale(0.9);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2; }
}
