
@import 'lesshat/build/lesshat.less';

@import 'font-awesome/less/font-awesome';

@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}


// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'document-view/document-view.less';
@import 'main/main.less';
@import 'style-selector/style-selector.less';
@import 'sidebar/sidebar.less';
// endinjector