  <!-- <div layout="vertical" layout-fill class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')" tabindex="-1" ng-include="'components/navbar/navbar.html'">


  </div> -->
  <md-toolbar class="md-medium-tall md-green-theme md-whiteframe-z2">
    <h2 class="md-toolbar-tools">
      <span>Invoice2Go</span>
    </h2>

    <div class="md-toolbar-tools">
      <a ui-sref="main.customTemplate">Custom Template</a>
      <a ui-sref="main.styleSelector">Style Selector</a>
      <a ui-sref="main.documentView">Document View</a>
    </div>
  </md-toolbar>

  <div layout="row" flex ui-view="content" class="ui-view-container"></div>
<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
-->
