.canvas {
  max-width: 768px;
  max-height: 1024px;
  width: 768px;
  height: 1024px;
  margin: 20px;
}

.company,
.details {
  height: 200px;
  border: 1px;
  padding: 20px;
}

.customer,
.buttons {
  height: 100px;
  border: 1px;
  padding: 20px;
}

.effeckt-positional-modal-wrap {
  position: absolute;
  z-index: 10;
  display: none;
}

.effeckt-positional-modal-wrap.effeckt-front {
  z-index: 20;
}

.effeckt-positional-modal-wrap[data-effeckt-position="above"] {
  margin-top: -15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="above"] .effeckt-modal:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: 10px solid #cccccc;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.effeckt-positional-modal-wrap[data-effeckt-position="below"] {
  margin-top: 15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="below"] .effeckt-modal:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-bottom: 10px solid #cccccc;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.effeckt-positional-modal-wrap[data-effeckt-position="right"] {
  margin-left: 15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="right"] .effeckt-modal:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
  height: 0;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #cccccc;
}

.effeckt-positional-modal-wrap[data-effeckt-position="left"] {
  margin-left: -15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="left"] .effeckt-modal:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #cccccc;
}