<div flex layout="horizontal" layout-align="center" ng-controller="documentViewCtrl">
  <md-content class="md-whiteframe-z2 canvas" flex="60">
    <div flex layout="horizontal" layout-align="center">
      <md-button aria-label class="md-raised md-blue-grey-theme md-primary md-whiteframe-z1 company" flex="50">
        <span>Company Details</span>
      </md-button>
      <div flex="50" class="md-whiteframe-z1 details">
        <span>Invoice Details</span>
      </div>
    </div>
    <div flex layout="horizontal" layout-align="center" class="md-whiteframe-z1 customer">
      Customer
    </div>
    <div flex layout="horizontal" layout-align="center" class="customer">
      <div flex="33" class="md-whiteframe-z1 buttons">
        <span>Add item</span>
      </div>
      <div flex class="md-whiteframe-z1 buttons">
        <span>Receipt</span>
      </div>
      <div flex="33" class="md-whiteframe-z1 buttons">
        <span>Time</span>
      </div>
    </div>
  </md-content>
</div>