<md-toolbar ng-controller="SidebarCtrl">
  <h2 class="md-toolbar-tools">
    <span class="widget">Label</span>
  </h2>
</md-toolbar>
<md-toolbar md-theme="green">
  <h2 class="md-toolbar-tools">
    <span class="widget">Text Field</span>
  </h2>
</md-toolbar>
<md-toolbar md-theme="green">
  <h2 class="md-toolbar-tools">
    <span>Line
    <svg id="line" height="5" width="200" class="widget">
		  <line x1="200" y1="0" style="stroke:rgb(0,0,0);stroke-width:2;" transform="matrix(1 0 0 1 0 0)" ng-click="selectElement($event)" />
		</svg>
		</span>
  </h2>
</md-toolbar>
<md-toolbar>
  <md-button id="box" class="md-raised md-primary widget">Box</md-button>
</md-toolbar>